*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
h3{
    font-size: 17px;
}
#map { 
    width: 100%;
    height: 100vh;
}
.leaflet-control-measure-toggle{
    width: 115px !important;
}
.leaflet-control-measure-interaction{
    background-color: azure;
}

#Container{
    display: flex;
}
.search{
    display: flex;
}
.search > input{
    width: 300px;
    height: 30px;
    outline: none;
}
.search > button{
    border: none;
    width: 80px;
    height: 30px;
}
.js-measuretasks{
    display: flex;
}

.js-measuringprompt{
    background-color: aliceblue;
    border: none;
    outline: none;
}

.js-measuringprompt > h3{
    text-align: center;
}

.js-start{
    width: 100px !important;
}

.js-starthelp{
    padding-top: 10px;
    text-align: center;
}

.startprompt, .js-measuringprompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
}
.startprompt > h3, .js-measuringprompt > h3{
    width: 200px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: center;
}
.startprompt > .tasks{
    padding-top: 10px;
}
.tasks{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    width: 150px;
}

.tasks > li > .js-cancel, .tasks > li > .js-finish{
    width: 60px;
}